@media screen and (min-width: 1400px) {
  body {
    background-color: black;
  }
  header {
    justify-content: space-around;
  }
  .hero {
    max-width: 1400px;
    box-shadow: 600px 100px 500px black inset;
  }
  .about-me,
  .hero,
  .contacto h2,
  .contacto__correo,
  .contacto__redes {
    margin-left: 10%;
    margin-right: 10%;
  }
  .ingresar{
  top: 200px;
  left: 42%;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 860px) {
  .navbar-nav {
    gap: 0px;
  }

  .about-me {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;
    padding: 15px;
  }
  .about-me__info {
    width: 100%;
  }
  .ingresar{
    top: 100px;
    left: 37%;
    }
}

@media screen and (max-width: 480px) {
  .ingresar{
    top: 200px;
    left: 20%;
    }
  .hero{
    background-size: cover;
    background-position: center;
    box-shadow: 100px 100px 1000px black inset;
  }
  .logo img {
    width: 100px;
  }

  .bienvenidos {
    width: 80%;
  }
  .trayectoria {
    padding: 20px;
  }
  .sponsors {
    text-align: center;
    padding: 50px 0px;
  }
  #slider__container {
    width: 90vw;
  }

  .contacto {
    padding: 50px;
  }
  footer {
    font-size: 12px;
    padding: 0px;
  }
  footer p {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  footer p img {
    width: 30px;
  }
}
