@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  --blue: #012188;
  --blue-op: #012088f8;
  --red: #e20222;
  --white: #f2f3f7;
  --black: #080b16;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: var(--black);
}

header {
  width: 100%;
  background: var(--white);
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 30px;
  border-bottom: 5px solid var(--blue);
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo img {
  width: 150px;
}
.navbar-nav{
  gap: 30px;
}

.nav-item{
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
}
.nav-link:hover{
  color: var(--blue) !important;
}
.navbar-collapse{
  margin-top: 22px;
}
main {
  margin-top: 80px;
  border-top: 10px solid var(--red);
  border-bottom: 10px solid var(--red);
}
.hero {
  background: url("./assets/alan-trofeo.jpg");
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: 470px 100px 500px black inset;
  height: 100%;
  border-bottom: 5px solid var(--white);
}
.bienvenidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 40%;
  min-width: 300px;
  padding: 0px 0px 20px 50px;
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
.bienvenidos h1 {
  font-size: 3em;
  
}
.bienvenidos h2 {
  font-size: 2em;
  
}

.trayectoria {
  border-top: 10px solid var(--red);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  background-color: #012188;
  background-image: linear-gradient(90deg, #021861 0%, #04081f 100%);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
.container__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card {
  max-width: 290px;
  min-width: 200px;
  border-radius: 15px;
  background-color: var(--black);
  padding: 5px;
}
.card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__title {
  padding: 5px;
}
.card__info {
  font-size: 14px;
  padding: 5px;
}

.about-me {
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 100px;
  justify-content: center;
}
.about-me__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  width: 50%;
}
.about-me__info h2 {
  font-size: 2.5em;
}
.about-me__info p {
  padding: 10px;
}

.about-me__image {
  display: flex;
  width: 50%;
  background: url(./assets/logo\ alan\ colores.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  box-shadow: 100px 300px 500px black inset;
}
.about-me__image img {
  max-height: 600px;
}
.button {
  width: 150px;
  height: 50px;
  background-color: var(--red);
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(71, 16, 16) inset;
  align-self: center;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items:center;
  background: var(--black);
  color: var(--white);
  gap: 30px;
  font-family: "Poppins", sans-serif;
  padding: 50px 100px;
  border-top: 3px solid rgb(27, 27, 27);
}


.contacto {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  background-color: #012188;
  background-image: linear-gradient(
    90deg,
    #021861 0%,
    #050b2c 30%,
    #000000 100%
  );
}

.contacto__correo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contacto__redes {
  display: grid;
  grid-template-columns: 40px  200px;
  grid-template-rows: auto;
  align-content: center;
}
.contacto p {
  margin-bottom: 0;
}




footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid var(--white);
  background: var(--black);
  height: 20vh;
  color: var(--white);
  font-family: "Poppins";
}

footer p {
  display: flex;
  align-items: center;
  gap: 5px;
}
